body {
    margin: 2rem;
    font: 12px system-ui;
  }

.title_prim{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
}

.grid_prim {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 5rem;
    text-align: center;
  }
  @media (max-width: 800px) {
    .grid_prim {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        margin: 30px;
    }
  }
  .grid_prim > div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .grid_item{
    display: inline-grid;
    border-radius: 1rem;
    border: solid;
    border-width: 0.2rem;
    border-color: #ffffff;
    background-color: #ccfbf1;
  }
  .grid_item:hover{
    background-color: #99f6e4;
    border-color: #99f6e4;
    transition: background-color 100ms linear;
    transition: border-color 100ms linear;
  }
  .grid_item > img {
    width: 100%;
    height: 100%;
    object-fit:  cover;
    border-radius: 0.8rem 0.8rem 0px 0px;
  }
